#account.tabcontent{
    height: fit-content;
    background-color: white;
}
#profile_pic{
    height:250px;
    width: 250px;
    margin-bottom: 5px;
    margin-top:10px;
    border-radius:10px;
}
#pic_section{
    text-align: center;
    color:  white;
    background-color: #464145;
}
h3#full_name{
    font-size: 30px;
    padding: 5px;
}
h4#location{
    font-size: 25px;
    padding: 5px;
}
.user_details{
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    height: 163px;
    text-align:center;
}
.personal_comments{
   width:100%;
   margin-top: 4px;
   height:  fit-content;
   border-radius: 6px;
   background-color: black;
}
h5#email_label,#phone_label{
    font-size: 33px;
    color: aliceblue;
    margin-bottom: 11px;
    font-family: cursive;
}
h5#email_address,#phone{
    font-size: 177%;
    background-color:aliceblue;
    border-radius:80px;
    text-align:  center;
    padding: 2.5%;
}
h3#orders,#average{font-size: 26px;color: white;margin-left:  32px;font-family: cursive;}
h3#order_number,#average_number{
    font-size: 90px;
    color: black;
    border-radius: 5px;
    width:  fit-content;
    background-color: white;
    margin-left: 35px;
}
#logout{
    text-decoration: none;
    font-size: 52px;
    font-weight: 700;
    border:  solid;
    border-radius: 11px;
    margin-bottom: -31px;
    color: white;
    background-color: black;
}
#logout_button{
    width: 100%;
    text-align:  center;
    height: fit-content;
}