html, body{
	height: fit-content;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-image: url(images/hotdog.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.form_container{
	text-align: center;
	border-radius: 20px;
	background: rgba(0, 0, 0, 0.7);
	height: fit-content;
	margin-left: 131px;
	margin-top: 93px;
	width: 81%;
}
#landing_note{
     color: white;
	font-family: vivaldi;
	display:  block;
	font-size: 45px;
	font-weight: bolder;
	margin-bottom: 42px;
}
a#Button{
	text-decoration:none;
	color:aliceblue
}
button{
	background: -webkit-linear-gradient(top,red,orange);
	border: 0px;
	width: 65%;
	font-family: vivaldi;
	margin-bottom: 5px;
	font-size: 31px;
	color: white;
	border-radius: 10px;
	padding: 10px;
}

input#first_name,input#last_name{
	width: 37.4%;

}
.form_container{
	height: fit-content;
}
input{
	padding: 10px;
	width: 79%;
	border-top: 0px;
	background-color: #34250800;
	margin-bottom: 15px;
	border-top: navajowhite;
	border-left:  navajowhite;
	border-radius: 10px;
	font-size: 22px;
	font-family: cursive;
	text-align:  center;
	color:  white;
	height: 25px;
}